.div_main{
    background-color: rgba(207, 204, 204);
}
.img_section{
height: 800px;
}
.Profile_img{
    margin-top: 50px;
    width: 60%;
}
.role_title{
    text-align: center;
    margin-top: 50px;
    color: rgb(0, 0, 0);
}
.about_me{
    margin-top: 100px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}
.about_me_p{
    margin-top: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}
.about_me_row2{
    margin-top: 50px;
    /* background-color: rgb(115, 120, 120); */
    text-align: center;
}

.logo_section{
    margin-left: -350px;
    height: 40px;
    width: 40px;
}