.maindiv{
    height: 100vh;
}

.subdiv1{
    width: fit-content;
    display: flex;
    justify-content: center;
    color: #FFEC63;
    margin-left: 250px;
}

.imgdiv{
    margin-top: 50px;
    justify-content: center;
}

.img{
    height: 600px;
    width: auto;
}

.roletitle_div{
    height: 350px;
    width: 450dp;
    /* background-color: #f9e238; */
    margin-top: 150px;
    margin-left: 50px;
    color: white;
}

.icon{
    color: white;
}