.navbar-custom{
    background-color: rgb(255, 202, 12);
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.me-auto{
    font-weight: bold;
    opacity: 1;
}

.button_navbarheader{
    border-radius: 6%;
}

