.Projects {
    display: flex;
    justify-content: center;
    /* border: 2px solid; */
    flex-direction: column;
  }
  
  .letest_work_text {
    font-size: 5rem;
    margin-top: 5rem;
    font-weight: bolder;
    border-bottom: .5rem solid rgb(255, 202, 12); 
    width: fit-content;
  }
  